.navbar {
    background-color: #0099FF !important;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.navbar .nav-link {
    /*color: #fff !important;*/
}
.navbar .nav-link.active {
    position: relative;
}
.navbar .nav-link.active::before {
    width: 70%;
    transition: .2s;
}
.navbar .nav-link::before {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 0;
}