
.chat-content {
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

#messages {
    height: 500px;
    overflow-y: auto;
}

.message {
    position: relative;
    margin-bottom: 12px;
    padding: 4px 9px;
    max-width: 350px;
    width: max-content;
    text-align: left;
    border-radius: 1.5rem;
    transition: .2s margin-bottom;
}

@media only screen and (max-width: 966px) {
    .message {
        max-width: 250px;
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding: 4px 15px;
    }
    #messages {
        height: 88%;
    }
    .chat-content {
        height: 70vh;
    }
}

.message-stranger {
    margin-left: 10px;
    background-color: #cccccc;
    border: 1px solid #cccccc;
    border-top-left-radius: 0;
}

.message-you {
    margin-right: 10px;
    background-color: #0099FF;
    color: #fff;
    border: 1px solid #0090f3;
    border-top-right-radius: 0;
    float: right;
}

.message .message-content {
    padding: 0 0 0 0;
    margin: 0;
    transition: .2s;
    word-wrap: break-word;
}

.message .message-timestamp {
    position: absolute;
    font-size: .85em;
    font-weight: 300;
    bottom: -25px;
    right: 0;
    color: black;
    display: none;
}

.message-stranger .message-timestamp {
    left: 0;
}

.message:hover .message-timestamp {
    display: block;
}

.message:hover {
    margin-bottom: 26px;
}

.emoji-content {
    position: absolute;
    bottom: 50px;
}