@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

* {
    font-size: 1.065rem;
    font-family: 'Rubik', sans-serif;
}

.wave {
    position: relative;
    z-index: -1;
}

/* custom scrollbar */

*::-webkit-scrollbar {
    background-color: #fff;
    width: 15px;
}

*::-webkit-scrollbar-track {
    background-color: #fff;
}

*::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 20px;
    border: 4px solid #fff;
}

*::-webkit-scrollbar-button {
    display:none;
}